USE [SekolahDB]
GO
/****** Object:  Table [dbo].[Jurusan]    Script Date: 14/09/2026 14:15:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jurusan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NamaJurusan] [varchar](100) NULL,
 CONSTRAINT [PK_Jurusan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siswa]    Script Date: 14/09/2026 14:15:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siswa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](100) NULL,
	[Umur] [int] NULL,
	[Alamat] [text] NULL,
	[JurusanID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Jurusan] ON 

INSERT [dbo].[Jurusan] ([Id], [NamaJurusan]) VALUES (1, N'Rekayasa Perangkat Lunak')
INSERT [dbo].[Jurusan] ([Id], [NamaJurusan]) VALUES (2, N'Desain Komunikasi Visual')
INSERT [dbo].[Jurusan] ([Id], [NamaJurusan]) VALUES (3, N'Teknik Komputer Jaringan')
SET IDENTITY_INSERT [dbo].[Jurusan] OFF
GO
SET IDENTITY_INSERT [dbo].[Siswa] ON 

INSERT [dbo].[Siswa] ([Id], [Nama], [Umur], [Alamat], [JurusanID]) VALUES (1, N'Budi', 17, N'Sidoarjo', 1)
INSERT [dbo].[Siswa] ([Id], [Nama], [Umur], [Alamat], [JurusanID]) VALUES (3, N'Toni', 17, N'Gresik', 3)
INSERT [dbo].[Siswa] ([Id], [Nama], [Umur], [Alamat], [JurusanID]) VALUES (4, N'Andi', 16, N'Surabaya', 1)
SET IDENTITY_INSERT [dbo].[Siswa] OFF
GO
ALTER TABLE [dbo].[Siswa]  WITH CHECK ADD  CONSTRAINT [FK_Siswa_Jurusan] FOREIGN KEY([JurusanID])
REFERENCES [dbo].[Jurusan] ([Id])
GO
ALTER TABLE [dbo].[Siswa] CHECK CONSTRAINT [FK_Siswa_Jurusan]
GO
