USE [BromoAirlines]
GO
/****** Object:  Table [dbo].[Akun]    Script Date: 30/08/2026 17:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Akun](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](200) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[Nama] [varchar](200) NOT NULL,
	[TanggalLahir] [date] NOT NULL,
	[NomorTelepon] [varchar](20) NOT NULL,
	[MerupakanAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_Akun] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bandara]    Script Date: 30/08/2026 17:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bandara](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](200) NOT NULL,
	[KodeIATA] [varchar](5) NOT NULL,
	[Kota] [varchar](200) NOT NULL,
	[NegaraID] [int] NOT NULL,
	[JumlahTerminal] [int] NOT NULL,
	[Alamat] [text] NOT NULL,
 CONSTRAINT [PK_Bandara] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JadwalPenerbangan]    Script Date: 30/08/2026 17:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JadwalPenerbangan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KodePenerbangan] [varchar](10) NOT NULL,
	[BandaraKeberangkatanID] [int] NOT NULL,
	[BandaraTujuanID] [int] NOT NULL,
	[MaskapaiID] [int] NOT NULL,
	[TanggalWaktuKeberangkatan] [datetime] NOT NULL,
	[HargaPerTiket] [float] NOT NULL,
	[DurasiPenerbangan] [int] NOT NULL,
 CONSTRAINT [PK_JadwalPenerbangan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KodePromo]    Script Date: 30/08/2026 17:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KodePromo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Kode] [varchar](100) NOT NULL,
	[PersentaseDiskon] [float] NOT NULL,
	[MaksimumDiskon] [float] NOT NULL,
	[BerlakuSampai] [date] NOT NULL,
	[Deskripsi] [text] NOT NULL,
 CONSTRAINT [PK_KodePromo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maskapai]    Script Date: 30/08/2026 17:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maskapai](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](200) NOT NULL,
	[Perusahaan] [varchar](200) NOT NULL,
	[JumlahKru] [int] NOT NULL,
	[Deskripsi] [text] NOT NULL,
 CONSTRAINT [PK_Maskapai] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Negara]    Script Date: 30/08/2026 17:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Negara](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](200) NOT NULL,
	[IbukotaNegara] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Negara] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerubahanStatusJadwalPenerbangan]    Script Date: 30/08/2026 17:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerubahanStatusJadwalPenerbangan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JadwalPenerbanganID] [int] NOT NULL,
	[StatusPenerbanganID] [int] NOT NULL,
	[WaktuPerubahanTerjadi] [datetime] NOT NULL,
	[PerkiraanDurasiDelay] [int] NULL,
 CONSTRAINT [PK_PerubahanStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusPenerbangan]    Script Date: 30/08/2026 17:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusPenerbangan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](200) NOT NULL,
 CONSTRAINT [PK_StatusPenerbangan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransaksiDetail]    Script Date: 30/08/2026 17:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransaksiDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TransaksiHeaderID] [int] NOT NULL,
	[TitelPenumpang] [varchar](20) NOT NULL,
	[NamaLengkapPenumpang] [varchar](200) NOT NULL,
 CONSTRAINT [PK_TransaksiDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransaksiHeader]    Script Date: 30/08/2026 17:14:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransaksiHeader](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AkunID] [int] NOT NULL,
	[TanggalTransaksi] [datetime] NOT NULL,
	[JadwalPenerbanganID] [int] NOT NULL,
	[JumlahPenumpang] [int] NOT NULL,
	[TotalHarga] [float] NOT NULL,
	[KodePromoID] [int] NULL,
 CONSTRAINT [PK_TransaksiHeader] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Akun] ON 

INSERT [dbo].[Akun] ([ID], [Username], [Password], [Nama], [TanggalLahir], [NomorTelepon], [MerupakanAdmin]) VALUES (1, N'admin', N'admin123', N'Admin', CAST(N'2009-03-01' AS Date), N'0812345678', 1)
INSERT [dbo].[Akun] ([ID], [Username], [Password], [Nama], [TanggalLahir], [NomorTelepon], [MerupakanAdmin]) VALUES (2, N'user', N'user123', N'User', CAST(N'2010-02-10' AS Date), N'0887654321', 0)
INSERT [dbo].[Akun] ([ID], [Username], [Password], [Nama], [TanggalLahir], [NomorTelepon], [MerupakanAdmin]) VALUES (3, N'admin2', N'admin321', N'Admin2', CAST(N'1992-03-12' AS Date), N'0887654321', 0)
SET IDENTITY_INSERT [dbo].[Akun] OFF
GO
SET IDENTITY_INSERT [dbo].[Bandara] ON 

INSERT [dbo].[Bandara] ([ID], [Nama], [KodeIATA], [Kota], [NegaraID], [JumlahTerminal], [Alamat]) VALUES (3, N'Abdul Rachman', N'MLG', N'Malang', 1, 2, N'Jl. Mondoroko')
INSERT [dbo].[Bandara] ([ID], [Nama], [KodeIATA], [Kota], [NegaraID], [JumlahTerminal], [Alamat]) VALUES (4, N'Abresso', N'RSK', N'Manokwari', 1, 2, N'Manokwari, Papua')
INSERT [dbo].[Bandara] ([ID], [Nama], [KodeIATA], [Kota], [NegaraID], [JumlahTerminal], [Alamat]) VALUES (5, N'Achmad Yani', N'SRG', N'Semarang', 1, 2, N'Jl. Puad Ahmad')
SET IDENTITY_INSERT [dbo].[Bandara] OFF
GO
SET IDENTITY_INSERT [dbo].[JadwalPenerbangan] ON 

INSERT [dbo].[JadwalPenerbangan] ([ID], [KodePenerbangan], [BandaraKeberangkatanID], [BandaraTujuanID], [MaskapaiID], [TanggalWaktuKeberangkatan], [HargaPerTiket], [DurasiPenerbangan]) VALUES (4, N'ID-7518', 5, 3, 1, CAST(N'2026-11-11T20:21:00.000' AS DateTime), 2000000, 1769)
INSERT [dbo].[JadwalPenerbangan] ([ID], [KodePenerbangan], [BandaraKeberangkatanID], [BandaraTujuanID], [MaskapaiID], [TanggalWaktuKeberangkatan], [HargaPerTiket], [DurasiPenerbangan]) VALUES (7, N'ID-1234', 3, 4, 1, CAST(N'2026-08-30T22:53:15.733' AS DateTime), 2500, 1390)
SET IDENTITY_INSERT [dbo].[JadwalPenerbangan] OFF
GO
SET IDENTITY_INSERT [dbo].[KodePromo] ON 

INSERT [dbo].[KodePromo] ([ID], [Kode], [PersentaseDiskon], [MaksimumDiskon], [BerlakuSampai], [Deskripsi]) VALUES (1, N'BROMOAJAYUK', 15, 100000, CAST(N'2023-09-09' AS Date), N'Yuk pakai diskon ini untuk lebih murah')
INSERT [dbo].[KodePromo] ([ID], [Kode], [PersentaseDiskon], [MaksimumDiskon], [BerlakuSampai], [Deskripsi]) VALUES (2, N'NAIKBROMOAIR', 10, 150000, CAST(N'2023-09-09' AS Date), N'Bromo Airlines lebih murah dengan diskon ini')
INSERT [dbo].[KodePromo] ([ID], [Kode], [PersentaseDiskon], [MaksimumDiskon], [BerlakuSampai], [Deskripsi]) VALUES (4, N'DISKONEXTRA', 40, 1000000, CAST(N'2026-08-30' AS Date), N'Diskon naik pesawat lebih murah')
SET IDENTITY_INSERT [dbo].[KodePromo] OFF
GO
SET IDENTITY_INSERT [dbo].[Maskapai] ON 

INSERT [dbo].[Maskapai] ([ID], [Nama], [Perusahaan], [JumlahKru], [Deskripsi]) VALUES (1, N'Admin Airlines', N'Admin Company', 67, N'Aku ngeluu')
SET IDENTITY_INSERT [dbo].[Maskapai] OFF
GO
SET IDENTITY_INSERT [dbo].[Negara] ON 

INSERT [dbo].[Negara] ([ID], [Nama], [IbukotaNegara]) VALUES (1, N'Indonesia', N'Jakarta')
SET IDENTITY_INSERT [dbo].[Negara] OFF
GO
SET IDENTITY_INSERT [dbo].[PerubahanStatusJadwalPenerbangan] ON 

INSERT [dbo].[PerubahanStatusJadwalPenerbangan] ([ID], [JadwalPenerbanganID], [StatusPenerbanganID], [WaktuPerubahanTerjadi], [PerkiraanDurasiDelay]) VALUES (3, 7, 1, CAST(N'2026-08-27T22:54:04.403' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PerubahanStatusJadwalPenerbangan] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusPenerbangan] ON 

INSERT [dbo].[StatusPenerbangan] ([ID], [Nama]) VALUES (1, N'Aktif')
SET IDENTITY_INSERT [dbo].[StatusPenerbangan] OFF
GO
SET IDENTITY_INSERT [dbo].[TransaksiDetail] ON 

INSERT [dbo].[TransaksiDetail] ([ID], [TransaksiHeaderID], [TitelPenumpang], [NamaLengkapPenumpang]) VALUES (1, 1, N'Tuan', N'Agus')
SET IDENTITY_INSERT [dbo].[TransaksiDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[TransaksiHeader] ON 

INSERT [dbo].[TransaksiHeader] ([ID], [AkunID], [TanggalTransaksi], [JadwalPenerbanganID], [JumlahPenumpang], [TotalHarga], [KodePromoID]) VALUES (1, 2, CAST(N'2026-08-30T09:08:45.430' AS DateTime), 7, 1, 1500, 4)
SET IDENTITY_INSERT [dbo].[TransaksiHeader] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Akun_Username]    Script Date: 30/08/2026 17:14:43 ******/
ALTER TABLE [dbo].[Akun] ADD  CONSTRAINT [UQ_Akun_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Bandara_KodeIATA]    Script Date: 30/08/2026 17:14:43 ******/
ALTER TABLE [dbo].[Bandara] ADD  CONSTRAINT [UQ_Bandara_KodeIATA] UNIQUE NONCLUSTERED 
(
	[KodeIATA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Bandara_Nama]    Script Date: 30/08/2026 17:14:43 ******/
ALTER TABLE [dbo].[Bandara] ADD  CONSTRAINT [UQ_Bandara_Nama] UNIQUE NONCLUSTERED 
(
	[Nama] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_KodePromo_Kode]    Script Date: 30/08/2026 17:14:43 ******/
ALTER TABLE [dbo].[KodePromo] ADD  CONSTRAINT [UQ_KodePromo_Kode] UNIQUE NONCLUSTERED 
(
	[Kode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Akun] ADD  DEFAULT ((0)) FOR [MerupakanAdmin]
GO
ALTER TABLE [dbo].[Bandara]  WITH CHECK ADD  CONSTRAINT [FK_Bandara_Negara] FOREIGN KEY([NegaraID])
REFERENCES [dbo].[Negara] ([ID])
GO
ALTER TABLE [dbo].[Bandara] CHECK CONSTRAINT [FK_Bandara_Negara]
GO
ALTER TABLE [dbo].[JadwalPenerbangan]  WITH CHECK ADD  CONSTRAINT [FK_JadwalPenerbangan_BandaraKeberangkatan] FOREIGN KEY([BandaraKeberangkatanID])
REFERENCES [dbo].[Bandara] ([ID])
GO
ALTER TABLE [dbo].[JadwalPenerbangan] CHECK CONSTRAINT [FK_JadwalPenerbangan_BandaraKeberangkatan]
GO
ALTER TABLE [dbo].[JadwalPenerbangan]  WITH CHECK ADD  CONSTRAINT [FK_JadwalPenerbangan_BandaraTujuan] FOREIGN KEY([BandaraTujuanID])
REFERENCES [dbo].[Bandara] ([ID])
GO
ALTER TABLE [dbo].[JadwalPenerbangan] CHECK CONSTRAINT [FK_JadwalPenerbangan_BandaraTujuan]
GO
ALTER TABLE [dbo].[JadwalPenerbangan]  WITH CHECK ADD  CONSTRAINT [FK_JadwalPenerbangan_Maskapai] FOREIGN KEY([MaskapaiID])
REFERENCES [dbo].[Maskapai] ([ID])
GO
ALTER TABLE [dbo].[JadwalPenerbangan] CHECK CONSTRAINT [FK_JadwalPenerbangan_Maskapai]
GO
ALTER TABLE [dbo].[PerubahanStatusJadwalPenerbangan]  WITH CHECK ADD  CONSTRAINT [FK_PerubahanStatus_Jadwal] FOREIGN KEY([JadwalPenerbanganID])
REFERENCES [dbo].[JadwalPenerbangan] ([ID])
GO
ALTER TABLE [dbo].[PerubahanStatusJadwalPenerbangan] CHECK CONSTRAINT [FK_PerubahanStatus_Jadwal]
GO
ALTER TABLE [dbo].[PerubahanStatusJadwalPenerbangan]  WITH CHECK ADD  CONSTRAINT [FK_PerubahanStatus_Status] FOREIGN KEY([StatusPenerbanganID])
REFERENCES [dbo].[StatusPenerbangan] ([ID])
GO
ALTER TABLE [dbo].[PerubahanStatusJadwalPenerbangan] CHECK CONSTRAINT [FK_PerubahanStatus_Status]
GO
ALTER TABLE [dbo].[TransaksiDetail]  WITH CHECK ADD  CONSTRAINT [FK_TransaksiDetail_Header] FOREIGN KEY([TransaksiHeaderID])
REFERENCES [dbo].[TransaksiHeader] ([ID])
GO
ALTER TABLE [dbo].[TransaksiDetail] CHECK CONSTRAINT [FK_TransaksiDetail_Header]
GO
ALTER TABLE [dbo].[TransaksiHeader]  WITH CHECK ADD  CONSTRAINT [FK_TransaksiHeader_Akun] FOREIGN KEY([AkunID])
REFERENCES [dbo].[Akun] ([ID])
GO
ALTER TABLE [dbo].[TransaksiHeader] CHECK CONSTRAINT [FK_TransaksiHeader_Akun]
GO
ALTER TABLE [dbo].[TransaksiHeader]  WITH CHECK ADD  CONSTRAINT [FK_TransaksiHeader_Jadwal] FOREIGN KEY([JadwalPenerbanganID])
REFERENCES [dbo].[JadwalPenerbangan] ([ID])
GO
ALTER TABLE [dbo].[TransaksiHeader] CHECK CONSTRAINT [FK_TransaksiHeader_Jadwal]
GO
ALTER TABLE [dbo].[TransaksiHeader]  WITH CHECK ADD  CONSTRAINT [FK_TransaksiHeader_KodePromo] FOREIGN KEY([KodePromoID])
REFERENCES [dbo].[KodePromo] ([ID])
GO
ALTER TABLE [dbo].[TransaksiHeader] CHECK CONSTRAINT [FK_TransaksiHeader_KodePromo]
GO
